<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <table style="border-spacing:15px">
            <tr>
                <td>{{localize "cogent.weapon.range"}}</td>
                <td colspan="2">{{localize "cogent.weapon.bonus"}}</td>
                <td colspan="2">{{localize "cogent.weapon.malus"}}</td>
                <td>{{localize "cogent.weapon.ammo"}}</td>
            </tr>
            <tr>
                <td>
                    <select name="data.range">
                        {{#select data.data.range}}
                        {{#each config.attackRange as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <span>
                        <input name="data.bonus" type="number" value="{{data.data.bonus}}" data-dtype="Number" /> 
                    </span>  
                </td>
                <th>{{localize "cogent.dice"}}&emsp;&emsp;</th>
                <td>
                    <span>
                        <input name="data.malus" type="number" value="{{data.data.malus}}" data-dtype="Number" /> 
                    </span>  
                </td>
                <th>{{localize "cogent.dice"}}&emsp;&emsp;</th>
                <td>
                    <span>
                        <input name="data.ammo" type="number" value="{{data.data.ammo}}" data-dtype="Number" /> 
                    </span>     
                </td>
            </tr>
        </table>
        <textarea name="data.description">{{data.data.description}}</textarea>
</form>
