<section>
    <table>
        <tr class="flex">
            <td title="{{data.description}}" class="left">{{name}}</td>
            <td class="right rightAlign">
                <a class="cogent-item-remove" title="Remove Item" data-id="{{_id}}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr class="flex">
            <td class="inputName">{{localize "cogent.armor"}}: {{data.armor}}</td>
            <td title="Armor" class="rightAlign">
                <input type="checkbox" name="data.equipped" data-field="data.equipped" class="inline-edit" {{checked data.equipped}} data-id="{{_id}}" title="Equiped?"/>
                </td>
        </tr>
        <tr>
        </tr>
    </table>
</section>