<section>
    <tr>
        <td colspan="5">&emsp;</td>
    </tr>
    <tr>
        <td style="font-size:134%" colspan="5">{{localize "cogent.assistBlock.strBonus"}}</td>
    </tr>
    <tr>
        <td style="font-size:134%" colspan="5">{{localize "cogent.assistBlock.refBonus"}}</td>
    </tr>
    <tr>
        <td style="font-size:134%" colspan="5">{{localize "cogent.assistBlock.intBonus"}}</td>
    </tr>
    <tr>
        <td colspan="5">{{localize "cogent.assistBlock.vocations"}}</td>
    </tr>
    {{> "systems/cogent/templates/partials/character/vocations.hbs"}}
    <tr>
        <td colspan="3">{{localize "cogent.assistBlock.injuries"}}</td>
        <td colspan="2">{{localize "cogent.assistBlock.penalty"}}</td>
    </tr>
    <tr>
        <td>
            <input type="number" name="data.injuries.minor" value="{{data.data.injuries.minor}}" data-dtype="Number" min="0"/>
        </td>
        <td colspan="">{{localize "cogent.assistBlock.minor"}}</td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
        <td>
            <input type="number" name="data.injuries.dminor" value="{{data.data.injuries.minor}}" data-dtype="Number" readonly="true"/>
        </td>
        <td>{{localize "cogent.dice"}}</td>
    </tr>
    <tr>
        <td>
            <input type="number" name="data.injuries.medium" value="{{data.data.injuries.medium}}" data-dtype="Number" min="0"/>
        </td>
        <td colspan="">{{localize "cogent.assistBlock.medium"}}</td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
        <td>
            <input type="number" name="data.injuries.dmedium" value="{{double data.data.injuries.medium}}" data-dtype="Number" readonly="true"/>
        </td>
        <td>{{localize "cogent.dice"}}</td>
    </tr>
    <tr>
        <td>
            <input type="number" name="data.injuries.serious" value="{{data.data.injuries.serious}}" data-dtype="Number" min="0"/>
        </td>
        <td colspan="">{{localize "cogent.assistBlock.serious"}}</td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
        <td>
            <input type="number" name="data.injuries.dserious" value="{{triple data.data.injuries.serious}}" data-dtype="Number" readonly="true"/>
        </td>
        <td>{{localize "cogent.dice"}}</td>
    </tr>
    <tr>
        <td>
            <input type="number" name="data.injuries.fatal" value="{{data.data.injuries.fatal}}" data-dtype="Number" min="0"/>
        </td>
        <td colspan="">{{localize "cogent.assistBlock.fatal"}}</td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
        <td>
            <input type="number" name="data.injuries.dfatal" value="{{quadruple data.data.injuries.fatal}}" data-dtype="Number" readonly="true"/>
        </td>
        <td>{{localize "cogent.dice"}}</td>
    </tr>
    <tr>
        <td>
            <input type="number" name="data.injuries.total" value="{{sum4 data.data.injuries.fatal data.data.injuries.serious data.data.injuries.medium data.data.injuries.minor}}" data-dtype="Number" readonly="true"/>
        </td>
        <td colspan="">{{localize "cogent.total"}}</td>
        <td>&emsp;&emsp;&emsp;&emsp;</td>
        <td>
            <input type="number" name="data.injuries.malus" value="{{data.data.injuries.malus}}" data-dtype="Number" readonly="true"/>
        </td>
        <td>{{localize "cogent.dice"}}</td>
    </tr>
    {{#unless (eq actor.type "monster")}}
    <tr>
        <td colspan="5">{{localize "cogent.assistBlock.commerce"}}</td>
    </tr>
    <tr>
        <td colspan="5"><input type="number" name="data.commerce.value" value="{{data.data.commerce.value}}" data-dtype="Number" min="0"/></td>
    </tr>
    {{#if (eq actor.type "character")}}
    <tr>
        <td colspan="5">{{localize "cogent.assistBlock.destiny"}}</td>
    </tr>
    <tr>
        <td colspan="5"><input type="number" name="data.destiny.value" value="{{data.data.destiny.value}}" data-dtype="Number" min="0"/></td>
    </tr>
    {{/if}}
    {{/unless}}
</section>