<section>
    <tr>
        <th>
            <i>{{localize "cogent.bioBlock.history"}}</i>
        </th>
    </tr>
    <tr>
        <td>
            <textarea name="data.history" rows="10">{{data.data.history}}</textarea>
        </td>
    </tr>
    <tr>
        <th>
            <i>{{localize "cogent.bioBlock.beliefs"}}</i>
        </th>
    </tr>
    <tr>
        <td>
            <textarea name="data.beliefs" rows="10">{{data.data.beliefs}}</textarea>
        </td>
    </tr>
    <tr>
        <th>
            <i>{{localize "cogent.bioBlock.goals"}}</i>
        </th>
    </tr>
    <tr>
        <td>
            <textarea name="data.goals" rows="10">{{data.data.goals}}</textarea>
        </td>
    </tr>
</section>